body {
  font-family: 'Righteous', cursive;
}

h3{
  margin: 0px;
}

.jumbotron{
  background: #58D68D;
  color: white;
}

.btn {
  padding-right: 15px;
  margin: 10px;
  font-size: 20px;
}

img {
  max-width: 400px;
  padding: 10px;
  text-align: center;

}

.box {
/*  height: 250px;
  width: 200px;*/
  display: inline-block;
  padding: 10px;
  margin-bottom: 15px;
}

#main{
  top: 50px;
}

.SNL{
  background: #58B7D6;
}
